{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {}
  },
  "plugins": ["@typescript-eslint"],
  "settings": {
    "import/resolver": {
      "typescript": true,
      "node": true
    }
  },
  "ignorePatterns": ["node_modules", "dist", "build", "bootstrap.js", "gen", "rpc"],
  "rules": {
    "@typescript-eslint/ban-types": "off",
    "no-constant-condition": "off",
    "import/namespace": "off",
    "no-shadow": "off",
    "no-use-before-define": "off",
    "import/no-duplicates": "error",
    "import/no-unresolved": [
      "error",
      { "ignore": ["alt-client", "alt-server", "alt-shared", "natives"] }
    ],
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "interface",
        "format": ["PascalCase"],
        "custom": {
          "regex": "^I[A-Z]",
          "match": true
        }
      },
      {
        "selector": "memberLike",
        "modifiers": ["private"],
        "format": ["camelCase"],
        "leadingUnderscore": "require"
      },
      {
        "selector": "typeLike",
        "format": ["PascalCase"]
      }
    ],
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      {
        "allowExpressions": true
      }
    ],
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/explicit-member-accessibility": [
      "error",
      {
        "overrides": {
          "constructors": "no-public"
        }
      }
    ]
  }
}