
body {
    margin: 0;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
}

button {
    user-select: none;
    background-color: transparent;
    font-family: inherit;
    outline: none;
    border: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}